<form action="/posts" method="post" enctype="multipart/form-data" accept-charset="utf-8">
<input class="input-xlarge" id="picture" name="uploaded_data" type="file">
<input type="submit" value="投稿">
 
</form>